@charset "UTF-8";

/*Typical Device Brakpoint

telas pequenas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
DeskTop: 992px até 1200px
*/

@media screen and (min-width:768px) and (max-width:992px) {
    
    body {
        background-image: linear-gradient(to top, #5f1919, #141414);
    }

    div#formulario > p {
        font-size: 1em;
        padding-bottom: 20px;
    }
    
    section#login {
        width: 80vw;
        height: 340px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    
    body {
        background-image: linear-gradient(to top, #5f1919, #141414);
    }

    section#login {
        width: 950px;
        height: 340px;
    }
    
    section#login > div#imagem {
        float:right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        padding-bottom: 20px;
    }
}

